:root {
  --purple: #6f42c1;
  --white: #f8f9fa;
}

body {
  background-color: #0e1212;
}

#bootstrap-overrides .active {
  color: var(--purple);
}

.purple {
  color: var(--purple);
}

.knlink {
  color: var(--white);
  text-decoration: none;
}

.setupLink {
  color: #6f42c1;
  text-decoration: none;
}
